<% if type == :new
    action_url = bands_url
    value = "add band"
    else
      action_url = band_url
      value = "update band"
    end
%>

<form action="<%=action_url%>" method="post">
  <%= auth_token %>
  <% if type == :edit %>
  <input type="hidden" name="_method" value="patch">
  <% end %>
    <label for="name">Band Name
    <input type="name" name="band[name]" value="  <%=band.name%>">
    </label>
    <input type="submit" class="button" name="" value="<%=value%>">
</form>
