/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   font-family: Didot;
   margin
 }

 body {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start; 
    width: auto;
    margin: 50px;
 }

 h1 {
   font: 20px Didot, sans-serif;
   padding-left: 10px;
   padding-right: 10px;
 }

 header {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   padding: 5px;
 }

 header a {
   margin: 10px;
   padding: 5px;
   text-decoration-line: none;
   font-style: normal;
   font-size: 20px;
   text-decoration-color: ##4F6DC1;
   border-radius: 25px;
   background-color: #D2D7E5;
 }

 .button {
   background-color: #D2D7E5;
    border-radius: 25px;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Didot;
    margin: 4px 2px;
    cursor: pointer;
}
